<div class="form-box">
  <et-content-box>
    <div [ngStyle]="{ padding: '40px' }">
      <h1>Welcome Back!</h1>
      <form
        action=""
        [formGroup]="loginForm"
        autocomplete="off"
        (ngSubmit)="loginFormSubmit()"
      >
        <label for="email">Email: </label>
        <input
          type="email"
          id="email"
          formControlName="email"
          maxlength="255"
        />
        <div [hidden]="email.valid || email.untouched">
          <div *ngIf="email.errors?.required">This field is required!</div>
          <div *ngIf="email.errors?.pattern">This email is incorrect!</div>
          <div *ngIf="email.errors?.emailNotRegistered">
            This email is not registered!
          </div>
          <div *ngIf="email.pending">wait...</div>
        </div>
        <label for="password">Password: </label>
        <input type="password" id="password" formControlName="password" />
        <div [hidden]="password.valid || password.untouched">
          <div *ngIf="password.errors?.required">This field is required!</div>
          <div *ngIf="password.errors?.minlength">
            Password must be 8 characters or longer!
          </div>
          <div *ngIf="password.errors?.passwordInvalidForEmail">
            Password is invalid for this email!
          </div>
        </div>
        <button>Login</button>
      </form>
      <div class="redirect-link">
        Haven't got an account?
        <a [routerLink]="['/register']" routerLinkActive="router-link-active"
          >Register now</a
        >
      </div>
    </div>
  </et-content-box>
</div>
