<div class="form-box">
  <div [ngStyle]="{ padding: '40px' }">
    <span>Welcome Back 😉! Please, login to your account.</span>
    <form
      action=""
      [formGroup]="loginForm"
      autocomplete="off"
      (ngSubmit)="loginFormSubmit()"
      enctype="multipart/form-data"
    >
      <div class="input-group">
        <label for="email">Email: </label>
        <input
          type="email"
          id="email"
          formControlName="email"
          maxlength="255"
        />
        <div [hidden]="email.valid || email.untouched">
          <div *ngIf="email.errors?.required">This field is required!</div>
          <div *ngIf="email.errors?.pattern">This email is incorrect!</div>
          <div *ngIf="email.errors?.emailNotRegistered">
            This email is not registered!
          </div>
          <div *ngIf="email.pending">wait...</div>
        </div>
      </div>
      <div class="input-group">
        <label for="password">Password: </label>
        <input type="password" id="password" formControlName="password" />
        <div [hidden]="password.valid || password.untouched">
          <div *ngIf="password.errors?.required">This field is required!</div>
          <div *ngIf="password.errors?.minlength">
            Password must be 8 characters or longer!
          </div>
          <div *ngIf="password.errors?.passwordInvalidForEmail">
            Password is invalid for this email!
          </div>
        </div>
      </div>
      <div class="form__actions">
        <span
          [routerLink]="['../account-recovery']"
          routerLinkActive="router-link-active"
          >Trouble logging in?</span
        >
      </div>
      <div class="form__buttons">
        <button class="active-button">Login</button>
        <button
          class="secondary-button"
          [routerLink]="['../register']"
          routerLinkActive="router-link-active"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
