<div class="form-box">
  <si-content-box>
    <div [ngStyle]="{ padding: '40px' }">
      <h1>Yupee! 🎉</h1>
      <form
        action=""
        [formGroup]="registerForm"
        autocomplete="off"
        (ngSubmit)="registerFormSubmit()"
        novalidate
      >
        <label for="name">Name: </label>
        <input type="text" id="name" formControlName="name" />
        <div [hidden]="name.valid || name.untouched">
          <div *ngIf="name.errors?.required">This field is required!</div>
          <div *ngIf="name.errors?.pattern">This is not a valid name!</div>
        </div>
        <label for="email">Email: </label>
        <input
          type="email"
          id="email"
          formControlName="email"
          maxlength="255"
        />
        <div [hidden]="email.valid || email.untouched">
          <div *ngIf="email.errors?.required">This field is required!</div>
          <div *ngIf="email.errors?.pattern">This email is incorrect!</div>
          <div *ngIf="email.errors?.emailRegistered">
            This email is already registered!
          </div>
          <div *ngIf="email.pending">wait...</div>
        </div>
        <label for="password">Password: </label>
        <input type="password" id="password" formControlName="password" />
        <div [hidden]="password.valid || password.untouched">
          <div *ngIf="password.errors?.required">This field is required!</div>
          <div *ngIf="password.errors?.minlength">
            Password must be 8 characters or longer!
          </div>
        </div>
        <button>Register</button>
      </form>
      <div class="redirect-link">
        Already have an account?
        <a [routerLink]="['']" routerLinkActive="router-link-active"
          >Login now</a
        >
      </div>
    </div>
  </si-content-box>
</div>
