.si-form-box {
  max-width: 630px;
  display: flex;

  h1,
  span {
    font-size: 28pt;
    font-family: "Satoshi Black";
    font-weight: unset;
    color: var(--si-heading-color);
    text-align: center;
    margin: 0 auto;
    width: 450px;
  }

  form {
    flex-basis: 630px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: "Satoshi Regular" !important;

    label {
      color: var(--si-text-color);
      margin-top: 30px;
      font-family: inherit;
      font-family: "Satoshi Medium";
      // font-weight: 900;
    }

    input {
      padding: 10px 15px;
      font-size: 15px;
      margin: 10px 0;
      color: var(--si-input-color);
      background-color: #ecf2f7;
      border-radius: 5px;
      transition: border-color 0.2s ease-in-out;
      letter-spacing: 1.2px;
    }

    > div {
      color: red;
      font-family: inherit !important;

      div {
        font-family: inherit;
      }
    }

    .si-form-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      > div {
        color: var(--si-text-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Satoshi Medium";

        label {
          margin: 0;
          padding-left: 10px;
        }
      }

      a {
        color: var(--si-blue-color);
        font-family: "Satoshi Medium";
        margin-left: 10px;
      }
    }

    button {
      width: 100%;
      padding: 10px;
      font-size: 15px;
      margin-top: 20px;
      cursor: pointer;
      color: #fff;
      border-radius: 5px;
      font-family: "Satoshi Medium";
      background: var(--si-blue-color);
    }
  }

  .si-input-group {
    display: flex;
    flex-direction: column;
  }

  .si-columns-2 {
    display: flex;
    justify-content: space-between;

    .si-input-group {
      width: calc(50% - 10px);
    }
  }
}

@media (max-width: 979px) {
  .si-form-box h1 {
    width: unset;
  }
}
