.form-box {
  max-width: 630px;
  display: flex;

  h1,
  span {
    font-size: 20pt;
    font-family: "Satoshi Medium";
    font-weight: unset;
    color: #999a9b;
    text-align: center;
    margin: 0 auto;
  }

  form {
    flex-basis: 630px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: "Satoshi Regular" !important;

    label {
      color: rgba(0, 0, 0, 0.5);
      margin-top: 30px;
      font-family: inherit;
      // font-weight: 900;
    }

    input {
      padding: 10px 0;
      border-bottom: 2px solid #cdcfd3;
      border-image-slice: 1;
      font-size: 15px;
      margin: 10px 0;
      color: #8c8e91;
      font-family: inherit;
      transition: border-color 0.2s ease-in-out;
      letter-spacing: 1.2px;

      &:focus {
        border-bottom: 2px solid black;
      }
    }

    > div {
      color: red;
      font-family: inherit !important;

      div {
        font-family: inherit;
      }
    }

    .form__buttons {
      margin: 40px 0;
      display: flex;
      justify-content: space-around;

      button {
        padding: 15px;
        border-radius: 5px;
        color: #fff;
        font-size: 12pt;
        width: 30%;
        cursor: pointer;
        font-family: inherit;
        font-weight: bold;

        &.active-button {
          background: linear-gradient(
            135deg,
            #f6d242 10%,
            #ff52e5 100%
          ) !important;
          box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.2);
        }

        &.secondary-button {
          border: 2px solid #cdcfd3;
          color: #4f4f4f;
          margin-left: 30px;
        }
      }
    }

    .social__buttons {
      .facebook__button {
        background: #3b5998;
      }

      .google__button {
        background: #c44129;
        margin-left: 30px;
      }
    }

    .slash {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 18pt;
      font-weight: bold;
      color: #cdcfd3;
    }

    .form__actions {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: #4f4f4f;
        font-size: 12pt;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .columns-2 {
    display: flex;
    justify-content: space-between;

    .input-group {
      width: calc(50% - 10px);
    }
  }
}
