.si-sidebar {
  height: 100vh;
  background-color: var(--si-sidebar-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 70px;
  border-right: 2px solid var(--si-sidebar-border-color);

  .si-sidebar-item {
    position: relative;
  }

  .si-sidebar-items {
    // width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    > div {
      display: flex;
      cursor: pointer;
      align-items: center;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;

      &:hover {
        background-color: var(--si-hover-background-color);
      }
    }
  }

  .si-sidebar-actions {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .si-sidebar-action {
      cursor: pointer;
      padding: 5px;
      margin: 10px 0;
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 10px 3px var(--si-sidebar-sidebar-background-color);
    }
  }
}
